.c {
  height: 100vh;
  position: relative;
}

.c-bg {
  width: 20px;
  height: 100%;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}

.c-left {
  flex: 1;
}

.c-title {
  text-transform: uppercase;
  font-style: italic;
  font-size: 60px;
  width: 80%;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
}

.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.c-text {
  font-size: 20px;
}

.c-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c-desc {
  font-weight: 300;
}

form {
  margin-top: 20px;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0;
  padding: 7px;
  font-size: 17px;
}

input:focus {
  outline: none;
}

textarea {
  width: 100%;
  margin: 10px 0;
  padding: 7px;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid black;
}

button {
  border: none;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  padding: 15px;
  width: auto;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
}

.c-btn-txt {
  font-weight: 500;
  color: #fff;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .c-wrapper {
    flex-direction: column;
    padding: 0 50px;
  }

  .c-title {
    font-size: 30px;
  }

  .c-info-item {
    margin: 20px 0px;
    width: 100%;
  }

  .c-desc {
    display: none;
  }

  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: 35%;
    margin: 10px;
    margin-left: 0;
  }

  button {
    margin-top: 10px;
  }
}
